html
  head
    title= title
    style
      include ./style.css
  body
    div
      .center(align='center')
        form(action='/course')
          - var values = courses;
          label="Специальность"
          select(name='sel_course')
            each val in values.length ? values : ['There are no values']
              label="label"
              option(value=val)= val
          label= "Фамилия"
            input(type='text', required='',name= "sel_f")
          label= "Имя"
            input(type='text', required='', name= "sel_i")
          label= "Отчество"
            input(type='text', required='', name= "sel_o")
          input(type='submit' value='Далее')
        form(action='/list')
          input(type='submit' value='Список студентов')
