html
  head
    title= title
    style
      include ./style.css
  body
    div
      .center(align='center')
        - var values = subjects;
        form(action='/')
          if values.length > 0
            h2= "Уважаемый " + fio + ", пожалуйста, ликваидируйте следующие задолженности:"
            each val in values.length ? values : ['There are no values']
              .reportElem
                label= val.subject + ": "
                label= val.result + " часов"
                br
          else
            h3= "У Вас нет задолжностей!"
          input(type='submit' value='На главную')
